h1{
  font-size: 25px;
  border-bottom: solid 1px #000;
  background-color: rgb(200, 211, 43);
}
h1 :hover{
 opacity: 0; 
}
.btn{
  background-color: rgb(86, 126, 212);
  border-radius: 4px;
  box-shadow: 0.2px 0.2px rgba(0, 0, 0, 00.2px);
  display: block;
  text-decoration: none;
  width: 80px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-weight: bold;
}
.btn:hover{
  opacity: 0.5;
}
